<h3>Meus pedidos</h3>

<table>
  <thead>
    <th>#</th>
    <th>Data do pedido</th>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= link_to "Ver", pedido_path(pedido.token) %></td>
        <td><%= pedido.created_at.to_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
