<p id="notice"><%= notice %></p>

<h3>Detalhes do pedido</h3>

<table>
  <thead>
    <th>Produto</th>
    <th>Preço unitário</th>
    <th>Quantidade</th>
  </thead>
  <tbody>
    <% @itens_pedido.each do |item_pedido| %>
      <tr>
        <td></td>
        <td><%= number_to_currency item_pedido.preco %></td>
        <td><%= item_pedido.quantidade %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span>
  <br />
  <font color="red">Total <%= number_to_currency @pedido.total %></font>
  <br /><br />
</span>

<hr />

<table>
  <thead>
    <th>Endereço</th>
    <th>Tipo de endereço</th>
  </thead>
  <tbody>
    <tr>
      <td>
        Rua:
        <br />CEP:
        <br />Número:
        <br />Complemento:
        <br />Cidade:
        <br />Estado:
      </td>
      <td>Tipo de cobrança</td>
    </tr>
  </tbody>
</table>

<hr />

<h3>Forma de pagamento</h3>
